@charset "utf-8";
/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:502; /* overflow:hidden;*/}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; background:#fff;}
/*#cboxLoadedContent{overflow:auto;/*margin:20px;*/}*/
/*#cboxLoadedContent p{padding:15px 0 10px ; font-size:14px;}*/
#cboxLoadedContent .maincontent p{font-size:12px;}
#cboxLoadedContent .page_bg p{/*background:url(/public/image/page_bg.png) no-repeat; */width:60px; height:22px; text-align:center; float:left; line-height:20px; margin:0px 2px 2px 2px; padding:0px; font-size:12px; font-weight:normal;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer; }
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#cboxWrapper .del,.box2 .box2borderDiv  .box2closeButton{background:url(/public/images/colorbox/close.png) no-repeat;height:15px;width:15px; margin:0 5px 0 0;overflow:hidden; position:absolute;right:12px;top:13px;cursor:pointer; z-index:20}
.box2 .box2borderDiv  .box2closeButton{background:url(/public/images/colorbox/close.gif) no-repeat -3px -0px;}
.box2 .box2borderDiv .box2closeButton{top:15px; right:25px;}
/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay,#box2overlay{background:#000;}
#box2overlay{position:absolute; top:0; left:0; overflow:hidden; position:fixed; width:100%; height:100%; background: #000;opacity:0.1;filter:alpha(opacity=1)}
/*#colorbox{}
#cboxTopLeft{width:8px; height:8px; background:url(/public/image/colorbox/border1.png) no-repeat -1px -11px;}
#cboxTopCenter{height:8px; background:url(/public/image/colorbox/border1.png) repeat-x 0 -67px;}
#cboxTopRight{width:8px; height:8px; background:url(/public/image/colorbox/border1.png) no-repeat -9px -11px;}
#cboxBottomLeft{width:8px; height:8px; background:url(/public/image/colorbox/border1.png) no-repeat -1px -18px;}
#cboxBottomCenter{height:8px; background:url(/public/image/colorbox/border1.png) repeat-x 0 -76px;}
#cboxBottomRight{width:8px; height:8px; background:url(/public/image/colorbox/border1.png) no-repeat -9px -18px;}
#cboxMiddleLeft{width:8px; background:url(/public/image/colorbox/border3.png) repeat-y 0 0;}
#cboxMiddleRight{width:8px; background:url(/public/image/colorbox/border3.png) repeat-y 0  0;}*/
#cboxTopCenter{width:auto!important}
.cboxIframe{background:#fff;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxTitle{position:absolute; bottom:0px; left:0; text-align:center; width:100%; hcolor:#999;}
#cboxCurrent{position:absolute; bottom:0px; left:100px; color:#999; line-height:25px;}
#cboxSlideshow{position:absolute; bottom:0px; right:42px; color:#444; line-height:25px;}
#cboxPrevious{position:absolute; bottom:0px; left:0; color:#444; line-height:25px;padding: 0 0 0 15px;}
#cboxNext{position:absolute; bottom:0px; left:63px; color:#444; line-height:25px;}
#cboxLoadingOverlay{background:#fff url(/public/images/colorbox/loading.gif) no-repeat 5px 5px;}
#cboxClose{position:absolute; bottom:0; right:0; display:block; color:#444;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}
#titlebar{ color:#fff; font:normal 16px/44px Microsoft Yahei; height:44px; text-align: center; background:#34b9ff; padding:0 40px 0 20px;}
#jqueryContent{ padding:25px;  background: #fff;}
#jqueryContentImg{
	padding:40px;  background: #ffffff;
}
.jqueryscroll{max-height:600px; *max-height:auto!important; overflow-y:auto; *position:relative!important; /*scrollbar-arrow-color:#e6e6e6; scrollbar-face-color:#f9f9f9; scrollbar-darkshadow-color:#f9f9f9; scrollbar-highlight-color:#f9f9f9; scrollbar-3Dlight-color:#f9f9f9; scrollbar-shadow-color:#f9f9f9; scrollbar-track-color:#e6e6e6;*/ background: #fff;}
.box_foot{padding:0 0 60px;text-align:center; background: #fff; }