.floatDiv{position:absolute;}
/*.floatDiv:after{
	content:" ";
	display: inline-block;
	width:0;
	height: 0;
	border
}*/
.floatDiv .content{background:#ffffde; overflow:hidden; border:#f2ebcb solid 1px; border-radius:4px; padding:0 10px;}
.floatDiv.light .content,.floatDiv.red .content{border:none;background:#F4F9FD;overflow:visible}
.floatDiv.red .content{background:none;color:#666!important;}
.floatDiv.red{margin-left:-72px;background:none;}
.floatDiv.floatDivB{/*border-right:#cfcfcf solid 1px;border-bottom:#8b8b8b solid 1px;border-top:#cfcfcf solid 1px;border-left:#8b8b8b solid 1px;  box-shadow: -1px 1px 4px  rgba(0, 0, 0, 0.3);*/ }
.floatDiv  a.fi,.floatDiv  a.fiBottom,.floatDiv  a.fiR,.floatDiv  a.fiRbottom,.floatDiv  a.fiUp,.floatDiv  a.fiRup,.floatDiv  a.fiunder,.floatDiv  a.fiRunder{ background:url(/public/images/hovercard/four_arrows.png) no-repeat;  display:block; position:absolute;}
/*左边的两个前头方向 */
.floatDiv  a.fi{ top:28px; left:50%; z-index:61; width:0; height:0; background-position:-1px -29px; }
.floatDiv  a.fiBottom{bottom:28px; left:50%;   width:5px; height:9px; z-index:61; background-position:-1px -29px;;}
/* 右边的两个前头方向 */
.floatDiv  a.fiR{ top:50%; right:-4px;  width:5px; height:9px; background-position:-5px -29px;  }
.floatDiv  a.fiRbottom{bottom:50%; right:-4px;  width:5px; height:9px; background-position:-5px -29px;}
/* 上方的两个前头方向 */
.floatDiv  a.fiUp{top:-4px; left:50%; background-position:-15px -29px;  width:9px; height:5px;}
.floatDiv  a.fiRup{top:-4px; right:10px;background-position:-15px -29px; width:9px; height:5px;}
/* 下方的两个前头方向 */
.floatDiv  a.fiunder{bottom:-4px; left:50%;background-position:-15px -33px; width:9px; height:5px;}
.floatDiv  a.fiRunder{bottom:-4px; right:25px;background-position:-15px -33px; width:9px; height:5px;}
/*----*/
.floatDiv .closeDivs{position:relative;}
.floatDiv .closeDivs .close{width:16px; height:16px; background:url(/public/images/hovercard/close.gif) -4px -193px; display:block;  position:absolute; right:10px; top: 8px;}
/*.floatDiv ul li label{float:left; width:20%; text-align:right;}
.floatDiv ul li span dl{ line-height:25px; text-align:left;}*/

/*--- header city search --*/
#globalCity.floatDiv { max-width: none; width: 560px; top: 42px; /*left: 368px;*/ }
#globalCity.floatDiv .closeDivs .close{padding:0;}

.cardBgs{background:url(/public/images/hovercard/hovercardC_bg.png) repeat-x; padding:5px;}
