.ui-widget-content{border-color:#c2c2c2 !important; color:#717171 !important; background: #fff !important}

.ui-multiselect-single .ui-multiselect-checkboxes input{position:absolute !important;top:auto !important;left:-9999px;}
.ui-multiselect-single .ui-multiselect-checkboxes label{padding:5px 0 5px 5px; border:none;}
.ui-multiselect-header{margin-bottom:3px;padding:3px 0; background: none !important; }
.ui-multiselect-header ul{font-size:12px}
.ui-multiselect-header ul li{float:left;padding:0 10px 0 0;}
.ui-multiselect-header a{text-decoration:none;}
.ui-multiselect-header a:hover{text-decoration:underline;}
.ui-multiselect-header span.ui-icon{float:left;}
.ui-multiselect-header li.ui-multiselect-close{float:right;text-align:right;padding-right:0}
.ui-multiselect-menu{display:none;position:absolute;z-index:9999;margin-top:5px;text-align:left;border-top:0;border-radius:0;background:#ffffff;}
.ui-multiselect-checkboxes{position:relative /* fixes bug in IE6/7 */;overflow-y:auto}
.ui-multiselect-checkboxes label{cursor:default;display:block;border:1px solid transparent;padding:3px 1px;}
.ui-multiselect-checkboxes label input{position:relative;top:1px}
.ui-multiselect-checkboxes label.ui-state-activ{color:#fff; /*background: #34b9ff;*/}
.ui-multiselect-checkboxes li{clear:both;font-size:12px;/*padding-right:3px*/}
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label{text-align:center;/*font-weight:bold;*/border-bottom:1px solid}
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a{display:block;padding:3px;margin:1px 0;text-decoration:none}
/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label{border:none}
/*.ui-multiselect.custom, .ui-multiselect-menu.custom{}
.ui-multiselect.custom:hover, .ui-multiselect-menu.custom:hover{border:1px solid #dddddd;border-radius:none;background:#fff;color:#333;font-weight:normal;}*/
.ui-multiselect{padding:0 0 0 4px;text-align:left}
.ui-multiselect span.ui-icon{float:right; width:19px; margin-top:-2px; border-left: #c2c2c2 solid 1px; height: 28px; background: url(/public/images/multiselect/select-bg.png) 3px 9px no-repeat}
.ui-multiselect.custom{height:30px;background:#fff;border-radius:0;color:#666666;font-weight:normal;}
.ui-multiselect.custom:hover,.ui-multiselect.custom.ui-state-hover {border-color:#37b9ff;}
.ui-multiselect.ui-state-hover .ui-icon{border-left-color: #37b9ff; background-position:-19px 9px;  }
.ui-multiselect-checkboxes label input{vertical-align:0px;}
.ui-multiselect span.ui-icon{/*display:none;*/}
.ui-multiselect-menu.custom .ui-state-hover{background:#34b9ff; color:#fff; border:none;border-radius:0;font-size:12px;}
.ui-multiselect-menu.custom .ui-corner-all{border:none;  line-height: 14px;}
.ui-multiselect-menu.custom .ui-multiselect-header{/*border:1px solid #ccc; border-radius:0*/}
.ui-multiselect-disabled span{color: #ccc;}
.ui-state-active, .ui-widget-content .ui-state-active{color:#717171; }
